[core]
  pager = less -FXRS -x2
  editor = vim
  excludesfile = /Users/development/.gitignore_global
[alias]
  st = status
  co = checkout
  su = submodule update --init --recursive
  purge = clean -ffd
  ci = duet-commit
  plog = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  ps = push --recurse-submodules=check
  pig = push --recurse-submodules=check
[apply]
  whitespace = nowarn
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[branch]
  autosetupmerge = true
[rebase]
  autosquash = true
[push]
  default = simple
[credential]
  helper = cache --timeout=32400
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.5.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[url "git@github.com:"]
  pushInsteadOf = https://github.com/
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[user]
	name = Hristo Iliev
	email = hsiliev@gmail.com
