.*/
.*
Applications/
Checkman/
Desktop/
Documents/
Downloads/
IdeaProjects/
IntelliJIdea*/
Library/
Movies/
Music/
Pictures/
Public/
RubymineProjects/
VirtualBox VMs/
VirtualBox VMs
bin/
ccw-settings/
deployments/
deployments
powerline-fonts/
vim/
workspace/
workspace
scripts/testApp.sh
Calibre Library/
*.txt
StarCraft II/
kdenlive/
Heroes of the Storm/
OneDrive*/
AndroidStudioProjects/

