.CFUserTextEncoding
.IntelliJIdea14/
.NERDTreeBookmarks
.RubyMine70/
.Xauthority
.android/
.atom/
.bash_history
.bash_it/
.boot2docker/
.bosh/
.bosh_config
.bosh_deployer_config
.cache/
.cf/
.config/
.dirs
.docker/
.dockercfg
.fasd
.flyrc
.gem/
.git-authors
.gitconfig
.gitignore_global
.gradle/
.hgignore_global
.htoprc
.idea/
.jekyllconfig
.lesshst
.local/
.m2/
.mkshrc
.mysql_history
.pry_history
.rbenv/
.rnd
.rvm/
.sh_history
.ssh/
.subversion/
.vagrant.d/
.vim/
.viminfo
.vimrc
.wireshark-etc/
.wireshark/
.xinitrc
.xinitrc.old
.zlogin
.zshrc
Applications/
Checkman/
Desktop/
Documents/
Downloads/
IdeaProjects/
Library/
Movies/
Music/
Pictures/
Public/
RubymineProjects/
VirtualBox VMs/
bin/
ccw-settings/
deployments/
powerline-fonts/
vim/
workspace/
scripts/testApp.sh
.fasd*
.npm/
.nvm/
